@charset "UTF-8";
/* ========================================
 * Magicodes.Blog theme "default" CSS
 * ver. 0.0.000
 * by taojiachun
 * ======================================== */

.theme-default {
}

/* topbar */
.topbar {
  background: none;
}
.top-user-search input,
.top-user-search button {
  background: rgba(51, 51, 51, 0.8);
  border-color: #666;
  color: #ccc;
  font-size: 1.2rem;
}
.top-user-search .form-control,
.top-user-search .btn-default {
  height: 22px;
  padding: 0 10px;
}



/* header */
.header {
  background: url(bg-grain2.png), #333;
  background-repeat: repeat;
/*
  background-size: cover;
  background-position: center;
*/
}
.header > h1 {
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}
.header > h1 > small {
  color: #aaa;
}

